# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore data files
*.csv

# Ignore VS Code settings
.vscode/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore log files
*.log
